<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- boostrap CSS-->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> 


<!-- RRSS Footer -->

 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">



<!-- Mi CSS-->

<link rel="stylesheet" href="../assets/css/archivo.css">

<link href="https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Sarabun&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">


<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">


<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">



  <title>WoodSound</title>

  <link rel="icon" type="image" href="../img/favicon.png"/>

</head>


<body>

<div style="background-image: url('../img/11924.jpg');">
<!--Navbar-->

<div class="formatonav">

  <nav class="navbar navbar-expand-lg navbar-dark">

      <a class="navbar-brand" href="#"></a>

      <a href="../index.html">
      <img src="../img/logosim4.png"></a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav m-auto">
          <li class="nav-item ">
            <a class="nav-link" href="../index.html">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../views/guitars.html">Guitarras</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../views/basses.html">Bajos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../views/amps.html">Amplificadores</a>
          </li>
           <li class="nav-item active">
            <a class="nav-link" href="../views/effects.html">Pedales</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../views/servicios.html">Servicios</a>
          </li>
         </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
          <button class="btn btn-outline-dark" type="submit">Buscar</button>
        </form>
      </div>
    </nav>
</div>

<!-- imagen principal, agarre la parte que me servia del carrusel para que sea responsive // el IDE DEL PRIMER DIV lo puedo borrar y no afecta, dejo para lo último-->


<header class="masthead">
  <div class="container-fluid">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <img src="../img/banpedal01.jpg" class="d-block w-100" alt="principal">
      </div>
    </div>
  </div>
</header>





<br>
<br>



<!-- LISTA DE PRODUCTOS -->

<h2> Pedales </h2>
<br>

<div class="container">
    <div class="row">

        <div class="col-md-4 col-s-4" style="padding:15px;">
            <div class="estilomuestra">
                <div><div class="col text-center">
                    <img class="img-fluid" alt="eCommerce Product List" src="../img/pedalbass01.jpg" >
                    <br></div>
                    <br>                    
                    <h4 align="center"><a href="../views/effbass01.html">Jam Pedals Lucydreamer Bass Overdrive Pedal</a></h4>
                    
                   
                </div>
                <br/>

              
                <div class="d-flex flex-row">
                  <div class="col text-center">
                     <div class="icons mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                  </div> <!-- centrado-->
                </div>
              
            <br>

                <div class="btn-ground text-xs-center" style="padding-bottom: 20px">
                  <div class="col text-center">
                    
                   <button type="button" class="btn btn-outline-dark"> <a href="../views/effbass01.html"> + INFO</button></a>
                  </div>
                </div>
            </div>
        </div>
        <br>
        
        <div class="col-md-4" style="padding:15px;">
            <div class="estilomuestra">
                <div><div class="col text-center">
                    <img class="img-fluid" alt="eCommerce Product List" src="../img/pedalbass02.jpg">
                    <br></div>
                    <br>
                   
                    <h4 align="center"><a href="../views/effbass02.html">Jam Pedals Red Muck Bass Fuzz Distortion Pedal</a></h4>
                    
                </div>
                <br>

              
                <div class="d-flex flex-row">
                  <div class="col text-center">
                     <div class="icons mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i></div>
                  </div> <!-- centrado-->
                </div>
              
            <br>

                <div class="btn-ground text-xs-center" style="padding-bottom: 20px">
                  <div class="col text-center">
                    <button type="button" class="btn btn-outline-dark"> <a href="../views/effbass02.html">+ INFO</button></a>
                  </div>
                </div>
            </div>
        </div>


        <div class="col-md-4" style="padding:15px;">
            <div class="estilomuestra">
                <div><div class="col text-center">
                    <img class="img-fluid" alt="eCommerce Product List" src="../img/pedalbass03.jpg">
                    <br></div>
                    <br>
                   
                    <h4 align="center"><a href="../views/effbass03.html">Jam Pedals Rattler Bass Distortion Pedal</a></h4>                    
                </div>
                <br/>

              
                <div class="d-flex flex-row">
                  <div class="col text-center">
                     <div class="icons mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i></div>
                  </div> <!-- centrado-->
                </div>
              
            <br>

                <div class="btn-ground text-xs-center" style="padding-bottom: 20px">
                  <div class="col text-center">
                    <button type="button" class="btn btn-outline-dark"> <a href="../views/effbass03.html"> + INFO</button> </a>
                  </div>
                </div>
            </div>
        </div>

    </div>
</div>

<br>
<br>



<!-- 2da linea de prodcutos-->


<div class="container">
    <div class="row">

        <div class="col-md-4" style="padding:15px;">
            <div class="estilomuestra">
                <div><div class="col text-center">
                    <img class="img-fluid" alt="eCommerce Product List" src="../img/pedalbass04.jpg">
                    <br></div>
                    <br>                    
                    <h4 align="center"><a href="effbass04.html">Jam Pedals Ripple Bass Phaser Pedal</a></h4>
                                        
                </div>
                <br/>

              
                <div class="d-flex flex-row">
                  <div class="col text-center">
                     <div class="icons mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i></div>
                  </div> <!-- centrado-->
                </div>
              
            <br>

                <div class="btn-ground text-xs-center" style="padding-bottom: 20px">
                  <div class="col text-center">
                    <button type="button" class="btn btn-outline-dark"> <a href="../views/effbass04.html"> + INFO</button></a>
                  </div>
                </div>
            </div>
        </div>

        <div class="col-md-4" style="padding:15px;">
            <div class="estilomuestra">
                <div><div class="col text-center">
                    <img class="img-fluid" alt="eCommerce Product List" src="../img/pedalbass05.jpg">
                    <br></div>
                    <br>                    
                    <h4 align="center"><a href="effbass05.html">Orange The Bass Butler Preamp Pedal</a></h4>
                                        
                </div>
                <br/>

              
                <div class="d-flex flex-row">
                  <div class="col text-center">
                     <div class="icons mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i></div>
                  </div> <!-- centrado-->
                </div>
              
            <br>

                <div class="btn-ground text-xs-center" style="padding-bottom: 20px">
                  <div class="col text-center">
                    <button type="button" class="btn btn-outline-dark"> <a href="../views/effbass05.html"> + INFO</button></a>
                  </div>
                </div>
            </div>
        </div>


        <div class="col-md-4" style="padding:15px;">
            <div class="estilomuestra">
                <div><div class="col text-center">
                    <img class="img-fluid" alt="eCommerce Product List" src="../img/pedalbass06.jpg">
                    <br></div>
                    <br>
                    
                    <h4 align="center"><a href="effbass06.html">Tech 21 Steve Harris SH1 Signature SansAmp Pedal</a></h4>
                    
                </div>
                <br/>

              
                <div class="d-flex flex-row">
                  <div class="col text-center">
                     <div class="icons mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i></div>
                  </div> <!-- centrado-->
                </div>
              
            <br>

                <div class="btn-ground text-xs-center" style="padding-bottom: 20px">
                  <div class="col text-center">
                    <button type="button" class="btn btn-outline-dark"> <a href="../views/effbass06.html"> + INFO</button></a>
                  </div>
                </div>
            </div>
        </div>

    </div>
</div>







<!-- Footer -->

<footer class="probando">
  

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Footer links -->
    <div class="row text-center text-md-left mt-3 pb-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <br>
          <br>
          <br>
         
         <img src="../img/logoxs01.png" alt=""width="270px" height="90px">
         
        <p></p>

       
 

      </div>
      <!-- Grid column -->

     <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">

        <div class="title">Sobre nosotros</div>
        <p class="externo">
        <div class="prob02">
         Somos una tienda que trabaja productos Premium internaciones, además contamos con servicio de Lutheria y sala de grabación.
        </div>
        </p>


      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">

        <div class="title">Links</div>
        <p class="externo"> 
          <div class="prob02">
          <a href="../views/guitars.html">Guitarras</a>
          <br>      
          <a href="../views/basses.html">Bajos</a>
          <br>        
          <a href="../views/amps.html">Amplificadores</a>
          <br>
          <a href="../views/effects.html">Pedales</a>
          <br>
          <a href="../views/servicios.html">Servicios</a>
        </p>  

    </div>
      </div>

      <!-- Grid column -->
      <hr class="w-100 clearfix d-md-none">




      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <div class="title">Contactanos</div>
        
        <p class="externo"><div class="prob02">
        Av. Corrientes 1000 <br>
        info@woodsound.com <br>
        (011) 4545-4545 <br>
        (011) 4848-4848</div>
        <br>
        </p>

        <div class="col text-center">        
          <ul class="social-network social-circle">
          <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
          </ul>

        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Footer links -->

  

    <!-- Grid row -->
    <div class="row d-flex align-items-center">

      <!-- Grid column -->
      <div class="col-md-7 col-lg-8">

        <!--Copyright-->
      

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-5 col-lg-4 ml-lg-0">

        

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->


</div>
</footer>

<div class="col-md-12">
  <div class="lineapie">
    Copyright © WoodSound ~ 2020
  </div>
</div>




 <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  
</body>
</html>